@import "../../Styles/variables.scss";
@import "../../Styles/mixins.scss";

section.change_time_model {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 31.5%;
    left: 46.5%;
    width: 400px;
    background-color: $header_footer_background;

    article {
        @include select_field;
        @include justify-content;
    }
}